body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: #202020;
    color: white;
}

.d-flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.j-start {
    justify-content: flex-start;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

pre {
    text-align: left;
}

.gap-24 {
    gap: 24px;
}

.gap-64 {
    gap: 64px;
}

.button {
    border: 2px solid white;
    border-radius: 8px;
    background-color: #343434;
    color: white;
    cursor: pointer;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.button:hover {
    transform: scale(1.05);
}